h1 Thêm Thành Viên

form(action="/users/create", method="post")
      Label Tên: &nbsp;
      input(type="text" name="name")
      button Thêm
button 
      a(class="button", href="/users",style="text-decoration:none") Quay lại